//
// individual poet fixes
//

.norton, .carlyle {
	& p.cantohead {
		letter-spacing: $textfontsize * 3/16;
	}
}

.longfellow {
	& p.slindent {
		text-indent: 1*$textlineheight;
	}
}

.wright {
	& p.slindent {
		text-indent: 1*$textlineheight;
	}
	& p.slindent2em {
		text-indent: 2*$textlineheight;
	}
	& p.slindent4em {
		text-indent: 4*$textlineheight;
	}
	& p.slindent6em {
		text-indent: 6*$textlineheight;
	}
	& p.slindent8em {
		text-indent: 8*$textlineheight;
	}
	& p.slindent10em {
		text-indent: 10*$textlineheight;
	}
	& p.slindent12em {
		text-indent: 12*$textlineheight;
	}
	& p.slindent14em {
		text-indent: 14*$textlineheight;
	}
}
