@import "sanitize";
@import "mixins";
@import "fonts";

$navheight: 40px;
$fontsize: 18px;
$lineheight: 24px;

body {
	font-size: $fontsize;
	line-height: $lineheight;
	font-family: "et-bembo";
	height: 100%;
	width: 100%;
	margin: 0;
}

#main {
	position: absolute;
	width: 100%;
	height: 100%;
//	left: 10;
//	top: 10;
//	width: 1024px;
//	height: 768px;
//	width: 768px;
//	height: 1024px;
}

#navbar {
	@include notouch;
	font-family: "Source Sans Pro";
	font-size: $fontsize;
	position: absolute;
	height: $navheight;
	width: 100%;
	background-color: gray;
	color: white;
	text-align: center;
	& .left {
		float: left;
		display: inline-block;
	}
	& .right {
		float: right;
		display: inline-block;
	}
	& .button {
		width: $navheight;
		height: $navheight;
		display: inline-block;
		padding-top:$navheight / 5; // 8px
		transition: 0.25s;
		&:hover, &.on {
			color: #333;
		}
	}
	& #navtitle {
		position: relative;
		display: inline-block;
		height: $navheight;
		padding-top: $navheight / 5; //8px
	}
}

#content {
	position: absolute;
	display: block;
	top: $navheight;
	left: 0;
//	width:1024px;
//	height: 768px-40px;
//	width: 768px;
//	height: 1024px-40px;
	width: 100%;
	height: 100%; // this should be 100% - $navheight;
	overflow: hidden;
}

.page {
	width:100%;
	height:100%;
	display: none;
	overflow: hidden;
	&.on {
		display:block;
	}
	&.portrait {
		& .textframe {
//			width: 640px;
//			height: 864px;
			position: absolute;
			padding: 64px 64px;
			height: 100%;
			width: 100%;
			&:last-child {
				margin-bottom: 64px;
			}
		}
	}
	&.landscape {
		& .textframe {
//			width: 480px;
//			height: 648px;
			position: absolute;
			padding: 40px 128px;
			height: 100%;
			width: 100%;
			&:last-child {
				margin-bottom: 40px;
			}
			&.verso {
			}
			&.recto {
			}
		}
	}
}

.textframe {
	display: block;
	position: absolute;
	overflow-y: scroll;
}

p.title, p.author {
	text-align: center;
	font-size: $fontsize * 1.5;
	line-height: $lineheight * 2;
}

p.title {
	font-style: italic;
	margin-top: 4 * $lineheight;
}

p.author {
	font-weight: bold;
}

div.stanza {
	margin-bottom: $lineheight;
}

p.cantohead {
	font-weight: bold;
	text-align: center;
	line-height: $lineheight * 2;
	font-size: $fontsize * 1.5;
	letter-spacing: 0;
	margin-bottom: $lineheight;
}

p.summary {
	font-style: italic;
	margin: $lineheight 2 * $lineheight;
}

// individual poet fixes

.norton {
	& p.cantohead {
		letter-spacing: $fontsize * 3/16;
	}
	& span.note {
		display: none;
	}
	& p + p {
		text-indent: $lineheight;
	}
	& p.summary + p {
		text-indent: 0;
	}
	& p + p.summary {
		text-indent: 0;
	}
}

.wright {
	& p.slindent {
		text-indent: 1*$lineheight;
	}
	& p.slindent2em {
		text-indent: 2*$lineheight;
	}
	& p.slindent4em {
		text-indent: 4*$lineheight;
	}
	& p.slindent6em {
		text-indent: 6*$lineheight;
	}
	& p.slindent8em {
		text-indent: 8*$lineheight;
	}
	& p.slindent10em {
		text-indent: 10*$lineheight;
	}
	& p.slindent12em {
		text-indent: 12*$lineheight;
	}
	& p.slindent14em {
		text-indent: 14*$lineheight;
	}
}