@import "sanitize";
@import "mixins";
@import "fonts";


$headerfamily: "Source Sans Pro";
$textfamily: "et-bembo";


$navheight: 40px;

$fontsize: 18px;
$lineheight: 24px;

$textfontsize: 3vw;
$textlineheight: 4vw;

$navtext: white;
$navtexton: #333;
$navcolor: teal;
$pagetext: #111;
$pagebackground: #eee;



//
// main
//

body {
	font-size: $fontsize;
	line-height: $lineheight;
	font-family: $textfamily;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow-y: hidden; // attempt to fix android swipe down issue
	touch-action: none; // attempt to fix android swipe down issue
}

#main {
	position: absolute;
	width: 100%;
	height: 100%;
	touch-action: none; // attempt to fix android swipe down issue
	overflow-y: hidden; // attempt to fix android swipe down issue
}


//
// navigation
//

#navbar {
	@include notouch;
	box-sizing: border-box;
	font-family: $headerfamily;
	font-size: $fontsize;
	font-size: 18px; // keep this distinct from resizing elements!
	line-height: 24px;
	position: absolute;
	height: $navheight;
	width: 100%;
	background-color: $navcolor;
	border-bottom: 1px solid $navcolor;
	color: $navtext;
	text-align: center;
	& .left {
		float: left;
		display: inline-block;
	}
	& .right {
		float: right;
		display: inline-block;
	}
	& .button {
		width: $navheight;
		height: $navheight;
		display: inline-block;
		padding-top:$navheight / 5; // 8px
		transition: 0.25s;
		&:hover, &.on {
			color: $navtexton;
		}
	}
	& #navtitle {
		position: relative;
		display: inline-block;
		height: $navheight;
		padding-top: $navheight / 5; //8px
	}
}

#navsettings {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAd1JREFUSA2tlTtLA0EcxL0giAgWFhHExkeVItqIARVRK0ttY2VqP0P0O1jYKT6w0lINgr2FgrXpBAVbEd/G38huWPcum+g5MNnd2fnPHpvdu6itRdRqtXWseWM/i6JotcXS5jbC56APu1jzANdBSh5mPe3QT2e85XlyaAVXi/UxLMBX+AGPzLhoNJofeGKkuSV4bmZUuxgLlsDENHyDaaGMcbtIxnZoe2G7M/5rVxldtjiyHVbto38D3UXt9G/aZ8xZTtmDiuphCLeM9yUGoGIxhC0bLlN9AVNRbVB5iV6CPYbqS0vCXUxkeybhHnyBPo5jBUbAeOKbGeskHcB5mNHp2YSNoOM6FFhgmHl5GqGiBUK4bhRudYqroQD/P7B1/9ZqgdNA2iBPF9wiagcC9ZvaogzUH6L3TdJNPkkKwBvBCvShg7ILJ2J1iGWYhAvEZdhpWKKVloRyLNgKuDeSKhxNLzgxhB2bp9Z9VXQzvocdmkiBT2r7uc3fF849RWNMpA3XcylzSh3BXeCR8fu3mu5HGdqJONjYRairLugjUjRM2nf5NK8afZx0o6UtxJMdBUMB5hxJR3kb+jjwPL0YRlyt5T6Fo34649lWAuqnqJmZwDU8M8Z3xSlZaVaj+S/rUAazai29GgAAAABJRU5ErkJggg==');
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
	&:hover, &.on {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAglJREFUSA21Vb8zA1EQdmFUUipkUimlMZNkDFq0aVBQKHTGHyB/AenRKZlBlRKNgio/hiIt3V1QpqLI+b7YvXnv3RWX4M3c7O633+7evbdvzxtLsYrF4gZoVw51s9VqXTtYzMzEkB/AM3HP8wqmTT0Bs2KUP6GKSrztAfRKJpPZbjQaL8TDMIwVMLFyuTzb7/fPQa3jq44Yo8uqKskPxdnDW+5D/0CyM8gZDRIZwL8LfRr+Y8is4FWzSFTASS7ckUVURM+AhSojp4sHMtfg5bVAyD0H2Itzh0Z6kitkpBYY44HKng+d0QxgDm0OqwANdMK7SR5FR443M87jJULVgrTdMpxut5D/hecCn35KA0n2ILbwTNJ2VgD7ETk7yNlhgcFeOSTXjLpCHWm7LjoDDUySeGPeA2slYRZBjFQFkgLTYqkKYO95Y62VhFkEMf7/kM2qpVJpFSd/a2LD6uietWazeadx7hYltahy00orRzTsZOQ+IYtOxbQJXR5HxbzeZv0CD23Hef7b5CyWlVz2sIOjTu8fLeayh538JKpGAf5wdvA2K8B8A1fVp48cAOYUtm79uLIpgyB4yOVyn1CnsI/shvtut/sKbBHYHDnGumm32zXf95/z+fwlum8BvhPzb0Zu7J8shBp80YySwbXOAF3EVJcDXYIdxahPD1ltlRaRU1EdKhMwK0Z538yq02Fg0M6xAAAAAElFTkSuQmCC');
  }
}


//
// content area
//

#content {
	position: absolute;
	display: block;
	top: $navheight;
	left: 0;
	width: 100%;
	height: 100%; // this should be 100% - $navheight;
	overflow: hidden;
	touch-action: none; // attempt to fix android swipe down issue
	overflow-y: hidden; // attempt to fix android swipe down issue
}

.page {
	width:100%;
	height:100%;
	display: none;
	overflow: hidden;
	background-color: $pagebackground;
	color: $pagetext;
	&.on {
		display:block;
	}
	&.portrait {
		& .textframe {
//			width: 640px;
//			height: 864px;
			padding: 64px 64px; // left/right padding is never actually applied
			&:last-child {
				margin-bottom: 64px;
			}
		}
	}
	&.landscape {
		& .textframe {
//			width: 480px;
//			height: 648px;
			padding: 40px 128px; // left/right padding is never actually applied
			&:last-child {
				margin-bottom: 40px;
			}
			&.verso {
			}
			&.recto {
			}
		}
	}
}

.textframe {
	position: absolute;
	height: 100%;
	width: 100%;
// 	transition:all 1.0s ease-in-out;
}

.basic {
	font-family: $headerfamily;
	font-size: $textfontsize;
//	padding: $textlineheight;
	padding-top: $textlineheight;
	line-height: $textlineheight;
	padding-left: 10vw;
	padding-right: 10vw;
	& h1 {
		font-weight: bold;
		margin-bottom: $textlineheight;
		text-align: center;
		margin-bottom: $textlineheight;
	}
	& a {
		font-weight: bold;
		color: $navcolor;
	}
	& .backtosettings {
		float: right;
		margin: $textlineheight 0;
		display: block;
	}
}

@import "settings";
@import "about";
@import "help";

//
// lens-specific
//

#slider {
	position: relative;
	width: 100%;
	height: 100%;
	touch-action: none; // attempt to fix android swipe down reloads page
  //	overflow-y: hidden; // attempt to fix android swipe down issue (removed, this was making new div invisible)
}

#lens {
	touch-action: none; // attempt to fix android swipe down reloads page
}

.textpage {
	font-size: $textfontsize;
	line-height: $textlineheight;
}


.textframe {
	display: block;
	position: absolute;
	overflow-y: scroll;
}


p.title, p.author {
	text-align: center;
	font-size: $textfontsize * 1.5;
	line-height: $textlineheight * 2;
}

p.title {
	font-style: italic;
	margin-top: 4 * $lineheight;
}

p.author {
	font-weight: bold;
}

div.stanza {
	margin-bottom: $lineheight;
}

p.cantohead {
	font-weight: bold;
	text-align: center;
	font-size: 150%; // $textfontsize * 1.5; (should be 27)
	line-height: 170.77777777%; // $textlineheight * 2; (should be 48)
	letter-spacing: 0;
	margin-bottom: $textlineheight;
}

p.summary {
	font-style: italic;
	margin: $textlineheight 2*$textlineheight;
}



// notes

.note {
	& .noteno {
		color: $navcolor;
		font-family: $headerfamily;
		position: relative;
		bottom: 1vw;
	  font-size: 75%;
	  font-weight: bold;
	  line-height: normal;
	}
	& .notetext {
		display: none;
	}
}

.notewindow {
	position: fixed;
	background-color: $pagebackground;
	font-family: $headerfamily;
	z-index: 999;
	width: 50vw;
	left: 25vw;
	top: 25vh;
	padding: $textlineheight;
	border-radius: 5px;
	border: 5px solid $navcolor;
	font-size: $textfontsize * 0.75;
	line-height: $textlineheight * 0.75;
}

// poetry

.poetry {
	& p {
		hanging-punctuation: first; // does not actually do anything!
	}
}

// prose

.prose {
	& p + p {
		text-indent: $textlineheight;
	}
	& p.summary + p {
		text-indent: 0;
	}
	& p + p.summary {
		text-indent: 0;
	}
}


// import individual poet fixes

@import "poets";

// night mode

@import "nightmode";

// media queries!

@media (max-width: 500px) {
    font-size: 14px
}


// ipad in portrait

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) { /* STYLES GO HERE */ }

// ipad in landscape

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) { /* STYLES GO HERE */}
