# Ignore Mac OS Stuff
.DS_Store

# Node
node_modules
node_modules/
node_modules/**/*

# Cordova

apps/crossdanteinferno/platforms/android/build/intermediates/
apps/crossdanteparadiso/platforms/android/build/intermediates/
apps/crossdantepurgatorio/platforms/android/build/intermediates/

apps/crossdanteinferno/platforms/ios/build/emulator/
apps/crossdanteparadiso/platforms/ios/build/emulator/
apps/crossdantepurgatorio/platforms/ios/build/emulator/
