// fixes for cordova

.web {
	text-rendering: optimizeLegibility;
	& .oncordova {
		display: none;
	}
}

.cordova {
	text-rendering: optimizeSpeed;
	touch-action: initial;
	& #main {
		touch-action: initial;
	}
	& #content {
		touch-action: initial;
	}
	& #slider {
		touch-action: initial;
	}
	& #lens {
		touch-action: initial;
	}
	& #text {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	& .basic {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	& .onweb {
		display: none;
	}
	& span.oncordova {
		display: inline-block;
	}
	& div.oncordova {
		display: block;
	}
}
