// navbar.scss

//
// navigation
//

#navbar {
	@include notouch;
	box-sizing: border-box;
	font-family: $headerfamily;
	font-size: $fontsize;
	font-size: 18px; // keep this distinct from resizing elements!
	line-height: 24px;
	position: absolute;
	height: $navheight;
	width: 100%;
	background-color: $navcolor;
	border-bottom: 1px solid $navcolor;
	color: $navtext;
	text-align: center;
	& .left {
		float: left;
		display: inline-block;
	}
	& .right {
		float: right;
		display: inline-block;
	}
	& .button {
		width: $navheight;
		height: $navheight;
		display: inline-block;
		padding-top:$navheight / 5; // 8px
		transition: color 0.25s;
		cursor: pointer;
		&:hover, &.on {
			color: $navtexton;
		}
	}
	& .navtitle {
		position: relative;
		display: inline-block;
		height: $navheight;
		padding-top: $navheight / 5; //8px
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		float: left;
		&::-webkit-scrollbar {
			display:none;
		}
	}
}

#navbarleft.off {
	visibility: hidden;
}
#navbarright.off {
	visibility: hidden;
}
#navbarother {
	display: none;
	&.on {
		display: inline-block;
		width: 100%;
	}
	& .navtitle {
		cursor:pointer;
		width: 100%;
		text-align: center;
	}
	& #backbutton {
		position: fixed;
		z-index: 5;
		top: 0;
		left: 0;
		width: 80px;
		text-align: center;
		font-style: italic;
		font-weight: normal;
		padding-top:$navheight / 5; // 8px
		transition: color 0.25s;
		cursor: pointer;
		&:hover {
			color: $navtexton;
		}
	}
}

.navsettings {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAd1JREFUSA2tlTtLA0EcxL0giAgWFhHExkeVItqIARVRK0ttY2VqP0P0O1jYKT6w0lINgr2FgrXpBAVbEd/G38huWPcum+g5MNnd2fnPHpvdu6itRdRqtXWseWM/i6JotcXS5jbC56APu1jzANdBSh5mPe3QT2e85XlyaAVXi/UxLMBX+AGPzLhoNJofeGKkuSV4bmZUuxgLlsDENHyDaaGMcbtIxnZoe2G7M/5rVxldtjiyHVbto38D3UXt9G/aZ8xZTtmDiuphCLeM9yUGoGIxhC0bLlN9AVNRbVB5iV6CPYbqS0vCXUxkeybhHnyBPo5jBUbAeOKbGeskHcB5mNHp2YSNoOM6FFhgmHl5GqGiBUK4bhRudYqroQD/P7B1/9ZqgdNA2iBPF9wiagcC9ZvaogzUH6L3TdJNPkkKwBvBCvShg7ILJ2J1iGWYhAvEZdhpWKKVloRyLNgKuDeSKhxNLzgxhB2bp9Z9VXQzvocdmkiBT2r7uc3fF849RWNMpA3XcylzSh3BXeCR8fu3mu5HGdqJONjYRairLugjUjRM2nf5NK8afZx0o6UtxJMdBUMB5hxJR3kb+jjwPL0YRlyt5T6Fo34649lWAuqnqJmZwDU8M8Z3xSlZaVaj+S/rUAazai29GgAAAABJRU5ErkJggg==');
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
	&:hover, &.on {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAglJREFUSA21Vb8zA1EQdmFUUipkUimlMZNkDFq0aVBQKHTGHyB/AenRKZlBlRKNgio/hiIt3V1QpqLI+b7YvXnv3RWX4M3c7O633+7evbdvzxtLsYrF4gZoVw51s9VqXTtYzMzEkB/AM3HP8wqmTT0Bs2KUP6GKSrztAfRKJpPZbjQaL8TDMIwVMLFyuTzb7/fPQa3jq44Yo8uqKskPxdnDW+5D/0CyM8gZDRIZwL8LfRr+Y8is4FWzSFTASS7ckUVURM+AhSojp4sHMtfg5bVAyD0H2Itzh0Z6kitkpBYY44HKng+d0QxgDm0OqwANdMK7SR5FR443M87jJULVgrTdMpxut5D/hecCn35KA0n2ILbwTNJ2VgD7ETk7yNlhgcFeOSTXjLpCHWm7LjoDDUySeGPeA2slYRZBjFQFkgLTYqkKYO95Y62VhFkEMf7/kM2qpVJpFSd/a2LD6uietWazeadx7hYltahy00orRzTsZOQ+IYtOxbQJXR5HxbzeZv0CD23Hef7b5CyWlVz2sIOjTu8fLeayh538JKpGAf5wdvA2K8B8A1fVp48cAOYUtm79uLIpgyB4yOVyn1CnsI/shvtut/sKbBHYHDnGumm32zXf95/z+fwlum8BvhPzb0Zu7J8shBp80YySwbXOAF3EVJcDXYIdxahPD1ltlRaRU1EdKhMwK0Z538yq02Fg0M6xAAAAAElFTkSuQmCC');
  }
}

#navbar .navclose {
	font-size: 36px;
	padding-top: 2px;
	vertical-align: middle;
	height: 37px;
	&:before {
		content: "×"
	}
}
