// night mode

$nightbackground: black;
$nightpagetext: white;
$nightnavcolor: black;
$nightnavtext: gray;
$nightnavtexton: orange;


body.nightmode {
  & .page {
    background-color: $nightbackground;
    color: $nightpagetext;
  }
  & .note .noteno {
    color: $nightnavtext;
  }
  & .notewindow {
    background-color: $nightbackground;
    border-color: $nightnavtext;
    color: $nightnavtext;
  }
  & #navbar {
    background-color: $nightnavcolor;
    border-bottom-color: $nightnavtext;
    color: $nightnavtext;
    & .button:hover, & .button.on {
      color: $nightnavtexton;
    }
  }
  & .basic a {
    color: $nightnavtext;
    &:hover, &.on {
      color: $nightnavtexton;
    }
  }
  & #translationgo {
    & p select {
  		background-color: $nightnavtext;
  		color: $nightnavcolor;
    }
    & #selectgo {
      background-color: $nightnavtext;
      color: $nightnavcolor;
      &:hover, &.on {
        color: $nightnavtexton;
      }
    }
  }
	& input[type=checkbox]:not(old) + label > span, input[type=radio]:not(old) + label > span{
		background: $nightnavtext;
	}

	& input[type=checkbox]:not(old):checked + label > span:before{
		color: $nightnavcolor;
	}

	& input[type=radio]:not(old):checked + label > span > span{
		background: $nightnavtext;
	}
}
