// notes.scss

.note {
	& .noteno {
		color: $navcolor;
		font-family: $headerfamily;
		position: relative;
		bottom: 0.5em;
	  font-size: 75%;
	  font-weight: bold;
	  line-height: normal;
		cursor: pointer;
	}
	& .notetext {
		display: none;
	}
}

.notewindow {
	position: fixed;
	background-color: $pagebackground;
	font-family: $headerfamily;
	z-index: 999;
	width: 50vw;
	left: 25vw;
	top: 25vh;
	max-height: 70vh;
	padding: $textlineheight;
	border-radius: 10px;
	border: 5px solid $navcolor;
	font-size: $textfontsize * 0.75;
	line-height: $textlineheight * 0.75;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	cursor: pointer;
	& .indent {
		display: inline-block;
		width: 0.75*$textlineheight;
	}
}
