//
// settings-specific
//

#translationchoose {
	position: relative;
  width: 60vw;
  left: 10vw;
}

#translatorlist {
	margin-top: $textlineheight/2;
  width: 60vw;
  left: 10vw;
	& li {
		list-style-type: none;
		& input {
			margin-right: $textlineheight/2;
		}
	}
}

#translationgo {
	position: relative;
	margin-top: $textlineheight;
  width: 60vw;
  left: 10vw;
	& p {
		margin-bottom: $textlineheight/2;
//		width: $textlineheight * 15;
		& select {
			background-color: $navcolor;
			color: $navtext;
//			margin-left: $textlineheight;
			display: inline-block;
//			width: $textlineheight * 10;
			width: 60%;
			padding-left: $textlineheight * 0.25;
			float: right;
			border-radius: $textlineheight / 6;
		}
	}
	& #selectgo {
		float: right;
		display: inline-block;
		border-radius: $textlineheight / 6;
		padding: $textlineheight / 12 $textlineheight/3;
		background-color: $navcolor;
		color: $navtext;
		font-weight: bold;
		&:hover {
			color: $navtexton;
		}
	}
}

#settings > p {
  clear: both;
  text-align: center;
  margin-top: $textlineheight * 3;
  & a {
    margin-left: $textlineheight / 4;
    margin-right: $textlineheight / 4;
		&.off {
			font-weight: normal;
		}
  }
	& .modeselector {
		margin-left: $textlineheight / 4;
    margin-right: $textlineheight / 4;
		& a {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

// NEW CHECKBOXES
//
// from http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/

#translatorlist li input {
	margin-right: 0;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border-radius    : 0.25em;
  background       : $navcolor;
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : $navtext;
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  font-weight : bold;
}

input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border-radius    : 0.125em;
  background       : $navcolor;
}
