$sitelineheight: 2.25rem;
$indentwidth: 1rem;

#site {
	font-family: 'Source Sans Pro';
	background-color: $navcolor;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 2rem;
	overflow-y: scroll;
	touch-action: auto;
	& a {
		color: $navcolor;
		font-weight: bold;
		&[disabled] {
		  pointer-events: none;
			color: gray;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	& em a {
		font-weight: normal;
		font-style: italic;
	}
	& #sitebox {
		box-sizing: border-box;
		width: 100%;
//		height: 100%;
		background-color: $pagebackground;
		padding: 2rem;
		border-radius: 1rem;
		font-size: 1.5rem;
		line-height: $sitelineheight;
		& #textbox {
			max-width: 720px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	& h1 {
		font-family: 'Source Sans Pro';
		text-align: center;
		font-size: $sitelineheight;
		margin-bottom: $sitelineheight;
	}
	& h2 {
		font-family: 'Source Sans Pro';
		font-size: 1.75rem;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
	& p {
	}
	& p + p {
		text-indent: 2rem;
	}
	& .list {
		margin: $sitelineheight/2 0 $sitelineheight/2 2*$indentwidth;
		text-indent: -$indentwidth;
		& .listitem {
 			& .linum {
				display: inline-block;
				position: relative;
				width: $indentwidth;
				&.colored {
					color: $navcolor;
				}
			}
		}
		& .list {
			margin: 0 0 0 2 * $indentwidth;
		}
	}
}

// make this legible on a phone

@media only screen and (max-width : 480px) {
	#site {
		padding: 1rem;
		& #sitebox {
			padding: 1rem;
			font-size: 1rem;
			line-height: 1.5rem;
		}
		& .list {
			margin-left: 1rem;
			text-indent: -0.5rem;
			& .listitem .linum {
				width: 0.5rem;
			}
			& .list {
				margin-left: 1rem;
			}
		}
	}
}
