@import "sanitize";
@import "mixins";
@import "fonts";


$headerfamily: "Source Sans Pro";
$textfamily: "et-bembo";


$navheight: 40px;

$fontsize: 18px;
$lineheight: 24px;

$textfontsize: 3vw;
$textlineheight: 4vw;

$navtext: white;
$navtexton: #333;
$navcolor: teal;
$pagetext: #111;
$pagebackground: #eee;



//
// main
//

html {
	height: 100%; // put in for site, does this break anything?
}

::-webkit-scrollbar {
    width: 0px;  // remove scrollbar space
    background: transparent;  // optional: just make scrollbar invisible
}

.makescroll {
	-webkit-overflow-scrolling: touch;
}

body {
	font-size: $fontsize;
	line-height: $lineheight;
	font-family: $textfamily;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow-y: hidden; // attempt to fix android swipe down issue
	touch-action: none; // attempt to fix android swipe down issue
}

#main {
	position: absolute;
	width: 100%;
	height: 100%;
	touch-action: none; // attempt to fix android swipe down issue
	overflow-y: hidden; // attempt to fix android swipe down issue
}

#loadingscrim {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: $navcolor;
	animation-name: loadinganimation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes loadinganimation {
    0% {background-color: $navcolor;}
    50% {background-color: black;}
		100% {background-color: $navcolor;}
}


@import "navbar";

//
// content area
//

#content {
	position: absolute;
	display: block;
	top: $navheight;
	left: 0;
	width: 100%;
	height: 100%; // this should be 100% - $navheight;
	overflow: hidden;
	touch-action: none; // attempt to fix android swipe down issue
	overflow-y: hidden; // attempt to fix android swipe down issue
}

.page {
	width:100%;
	height:100%;
	display: none;
	overflow: hidden;
	background-color: $pagebackground;
	color: $pagetext;
	&.on {
		display:block;
	}
	&.portrait {
		& .textframe {
//			width: 640px;
//			height: 864px;
			padding: 16px 16px; // left/right padding is never actually applied
			&:last-child {
				margin-bottom: 64px;
			}
		}
	}
	&.landscape {
		& .textframe {
//			width: 480px;
//			height: 648px;
			padding: 40px 128px; // left/right padding is never actually applied
			&:last-child {
				margin-bottom: 40px;
			}
			&.verso {
			}
			&.recto {
			}
		}
	}
}

.textframe {
	position: absolute;
	height: 100%;
	width: 100%;
// 	transition:all 1.0s ease-in-out;
}


.basic {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	font-family: $headerfamily;
	font-size: $textfontsize;
//	padding: $textlineheight;
	padding-top: $textlineheight;
	line-height: $textlineheight;
	padding-left: 10vw;
	padding-right: 10vw;
	& h1 {
		display: none;
		font-weight: bold;
		margin-bottom: $textlineheight;
		text-align: center;
	}
	& a {
		font-weight: bold;
		color: $navcolor;
	}
}

.textinsideframe {
	height: calc(100% + 1px);
}

@import "settings";
@import "about";
@import "help";

//
// lens-specific
//


#lens {
	touch-action: none; // attempt to fix android swipe down reloads page
	& #sliderright {
		position: relative;
		width: 100%;
		height: 100%;
		touch-action: none; // attempt to fix android swipe down reloads page
	  //	overflow-y: hidden; // attempt to fix android swipe down issue (removed, this was making new div invisible)
	}
}

.textpage {
	font-size: $textfontsize;
	line-height: $textlineheight;
}

.textframe {
	display: block;
	position: absolute;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

// text formatting

p.title, p.author {
	text-align: center;
	font-size: $textfontsize * 1.5;
	line-height: $textlineheight * 2;
}

p.title {
	font-style: italic;
	margin-top: 4 * $lineheight;
}

p.author {
	font-weight: bold;
}

div.stanza {
	margin-bottom: $lineheight;
}

p.cantohead {
	font-weight: bold;
	text-align: center;
	font-size: 150%; // $textfontsize * 1.5; (should be 27)
	line-height: 170.77777777%; // $textlineheight * 2; (should be 48)
	letter-spacing: 0;
	margin-bottom: $textlineheight;
}

p.summary {
	font-style: italic;
	margin: $textlineheight 2*$textlineheight;
}


// spans

.sc {  // small caps
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9em;
}

// notes

.note {
	& .noteno {
		color: $navcolor;
		font-family: $headerfamily;
		position: relative;
		bottom: 1vw;
	  font-size: 75%;
	  font-weight: bold;
	  line-height: normal;
	}
	& .notetext {
		display: none;
	}
}

.notewindow {
	position: fixed;
	background-color: $pagebackground;
	font-family: $headerfamily;
	z-index: 999;
	width: 50vw;
	left: 25vw;
	top: 25vh;
	padding: $textlineheight;
	border-radius: 5px;
	border: 5px solid $navcolor;
	font-size: $textfontsize * 0.75;
	line-height: $textlineheight * 0.75;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

// poetry

.poetry {
	& p {
		hanging-punctuation: first; // does not actually do anything!
		margin-left: $textlineheight;
		text-indent: -$textlineheight;
	}
	& p.slindent {
		margin-left: 2*$textlineheight;
		text-indent: -1*$textlineheight;
	}
	& p.slindent2em {
		margin-left: 3*$textlineheight;
		text-indent: -1*$textlineheight;
	}
	& p.slindent4em {
		margin-left: 5*$textlineheight;
		text-indent: -1*$textlineheight;
	}
	& p.slindent6em {
		margin-left: 6*$textlineheight;
		text-indent: -1*$textlineheight;
	}
	& p.slindent8em {
		margin-left: 9*$textlineheight;
		text-indent: -1*$textlineheight;
	}
	& p.slindent10em {
		margin-left: 11*$textlineheight;
		text-indent: -1*$textlineheight;
	}
	& p.slindent12em {
		margin-left: 13*$textlineheight;
		text-indent: -1*$textlineheight;
	}
	& p.slindent14em {
		margin-left: 15*$textlineheight;
		text-indent: -1*$textlineheight;
	}
}

// prose

.prose {
	& p + p {
		text-indent: $textlineheight;
	}
	& p.summary + p {
		text-indent: 0;
	}
	& p + p.summary {
		text-indent: 0;
	}
}

// twin mode

@import "twinmode";

// import individual poet fixes

@import "poets";

// deal with the site

@import "site";

// book-specific fixes

@import "bookspecific";

// cordova-specific fixes

@import "cordova";

// night mode

@import "nightmode";



@import "responsive"; // don't include this for non-responsive version
